@media (max-width: 568px) {
    body{
        color: whitesmoke;
        background-image: url(./images/bg-img.avif);
        height: 100vh;
        overflow: hidden;
    }
    .container{
        margin: 90px auto;
        border: 1px solid black;
        border-style: none;
        width: 500px;
        background-color: rgba(64, 104, 66, 0.768);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .search{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 30px;
    }
    #userinput{
        width: 500px;
        height: 50px;
        border-radius: 50px;
        border-style: hidden;
        text-align: center;
        color: grey;
        font-size: 20px;
        font-style: italic;
        margin-right: 10px;
        cursor: pointer;
    }
    #userinput:hover{
        border: 2px solid black;
    }
    .weather{
        margin: 0 auto;
        align-items: center;
        display: flex;
        gap: 50px;
        text-align: center;
        padding: 30px auto;
    }
    
    .btn{
        border-radius: 50px;
        height: 50px;
        width: 75px;
        padding: 6px 0px;
        color: black; 
    }
    .weather-icon{
        height: 200px;
        margin-top: 30px;
        margin-left: 120px;
        justify-content: center;
        margin: 0 auto;
    }
    .weather h1{
        font-size: 60px;
        text-align: center;
        font-weight: 500;
        line-height: 40px;
    }
    .weather h2{
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        
    }
    .details{
        display: flex;
        justify-content: center;
        gap: 130px;
        align-items: center;
        margin: 40px 0;
        text-align: center;
    }
    .wind-box{
        display: flex;
        gap: 90px;
        align-items: center;
        margin: 40px 0;
        text-align: center;
        justify-content: center;
    }
    
    .humidity, .wind{
        font-size: 30px;
        line-height: 20px;
    }
}

@media (min-width: 567px) and (max-width: 989px){
    body{
        color: whitesmoke;
        background-image: url(./images/bg-img.avif);
        height: 100vh;
        overflow: hidden;
    }
    .container{
        margin: 90px auto;
        border: 1px solid black;
        border-style: none;
        width: 500px;
        background-color: rgba(41, 62, 32, 0.735);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .search{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 30px;
    }
    #userinput{
        width: 500px;
        height: 50px;
        border-radius: 50px;
        border-style: hidden;
        text-align: center;
        color: grey;
        font-size: 20px;
        font-style: italic;
        margin-right: 10px;
        cursor: pointer;
    }
    #userinput:hover{
        border: 2px solid black;
    }
    .weather{
        margin: 0 auto;
        align-items: center;
        display: flex;
        gap: 50px;
        text-align: center;
        padding: 30px auto;
    }
    
    .btn{
        border-radius: 50px;
        height: 50px;
        width: 75px;
        padding: 6px 0px;
        color: black; 
    }
    .weather-icon{
        height: 200px;
        margin-top: 30px;
        margin-left: 120px;
        justify-content: center;
        margin: 0 auto;
    }
    .weather h1{
        font-size: 60px;
        text-align: center;
        font-weight: 500;
        line-height: 40px;
    }
    .weather h2{
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        
    }
    .details{
        display: flex;
        justify-content: center;
        gap: 130px;
        align-items: center;
        margin: 40px 0;
        text-align: center;
    }
    .wind-box{
        display: flex;
        gap: 90px;
        align-items: center;
        margin: 40px 0;
        text-align: center;
        justify-content: center;
    }
    
    .humidity, .wind{
        font-size: 30px;
        line-height: 20px;
    }
}

@media (min-width: 990px){
    body{
        color: whitesmoke;
        background-image: url(./images/bg-img.avif);
        height: 100vh;
        overflow: hidden;
    }
    .container{
        margin: 90px auto;
        border: 1px solid black;
        border-style: none;
        width: 500px;
        background-color: rgba(13, 29, 14, 0.735);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .search{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 30px;
    }
    #userinput{
        width: 500px;
        height: 50px;
        border-radius: 50px;
        border-style: hidden;
        text-align: center;
        color: grey;
        font-size: 20px;
        font-style: italic;
        margin-right: 10px;
        cursor: pointer;
    }
    #userinput:hover{
        border: 2px solid black;
    }
    .weather{
        margin: 0 auto;
        align-items: center;
        display: flex;
        gap: 50px;
        text-align: center;
        padding: 30px auto;
    }
    
    .btn{
        border-radius: 50px;
        height: 50px;
        width: 75px;
        padding: 6px 0px;
        color: black; 
    }
    .weather-icon{
        height: 200px;
        margin-top: 30px;
        margin-left: 120px;
        justify-content: center;
        margin: 0 auto;
    }
    .weather h1{
        font-size: 60px;
        text-align: center;
        font-weight: 500;
        line-height: 40px;
    }
    .weather h2{
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        
    }
    .details{
        display: flex;
        justify-content: center;
        gap: 130px;
        align-items: center;
        margin: 40px 0;
        text-align: center;
    }
    .wind-box{
        display: flex;
        gap: 90px;
        align-items: center;
        margin: 40px 0;
        text-align: center;
        justify-content: center;
    }
    
    .humidity, .wind{
        font-size: 30px;
        line-height: 20px;
    }
}
