body{
    background-color: black;
    background: linear-gradient(135deg, #00feba, #5b548a);
    height: 100vh;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
}
#userinput{
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border-style: hidden;
    text-align: center;
    color: grey;
    font-size: 20px;
    font-style: italic;
    margin-right: 10px;
}
.weather{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.btn{
    border-radius: 150px;
    height: 50px;
    width: 50px;
    padding: 6px 0px;
    color: black; 
}
.weather-icon{
    width: 200px;;
    margin-top: 30px;
    margin-left: 120px;
    justify-content: center;
    margin: 0 auto;
    display: block;
}
.weather h1{
    margin-top: -10px;
    font-size: 70px;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}
.weather h2{
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 80px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin: auto;
}
.col img{
    width: 150px;
    margin-right: 20px;
    
}
.humidity, .wind{
    font-size: 50px;
    margin-top: -6px;
    margin-bottom: -6px;
    display: flex;
}